.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}
.search-btn{
  border-radius: 8px;
  background: #4E75FF;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 8px;
}
input{
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding-left: 16px;
}
input:active {
  border: 1px solid #4e75ff;
  outline: none;
}

.search-btn {
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 8px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.64px;
  border: none;
}

.search-btn:hover {
  background-color: #6c8cff;
}
.gallery-box {
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 72px) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-text-box {
  border: 1px solid black;
  padding: 8px 16px;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(#fff 16px, transparent 0),
  linear-gradient(#ff3d00 16px, transparent 0),
  linear-gradient(#ff3d00 16px, transparent 0),
  linear-gradient(#fff 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
  margin: 0 auto;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}